<div class="jumbotron header">
    <h1>Welcome to Beauty Palace</h1>
</div>
<nav class="navbar navbar-default navbar-static-top jk">
    <div class="container-fluid">
        <div class="navbar-header">
            <!-- <a class="navbar-brand" href="/">HS</a> -->
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a href="/stylists">Stylists</a>
            </li>
            <li>
                <a href="/stylists/new">Add Stylist</a>
            </li>
            <li>
                <a href="/clients/new">Add Client</a>
            </li>
        </ul>

    </div>
</nav>
<br>
<p>Hey there. Are you tired of your hair stylist or looking for a new salon?</p>
<p>Fear not, for Beauty Palace has got you covered for all your hair needs</p>
<br>
<div class="testimony">
  <p>We'll get your hair looking from this</p>
  <img src="images/badHair.png">
  <p>To this</p>
  <img src="images/backHair.jpg">
  <p>So book an appointment with one of our stylists to get yourself a new look!</p>
</div>
