<div class="jumbotron header">
  <h1>Welcome to Beauty Palace</h1>
</div>
<nav class="navbar navbar-default navbar-static-top jk">
      <div class="container-fluid">
          <div class="navbar-header">
              <!-- <a class="navbar-brand" href="/">HS</a> -->
          </div>
          <ul class="nav navbar-nav navbar-right">
              <li><a href="/stylists">Stylists</a></li>
              <li><a href="/stylists/new">Add Stylist</a></li>
              <li><a href="/clients/new">Add Client</a></li>
          </ul>
      </div>
  </nav>
