<div class="backgroundForm">

  <p style="color:blue;">Create a new stylist:</p>

  <form action="/stylists" method="post">
    <label>
      <input id="name" name="name" type="text" required/>

      <div class="label-text">stylist name</div>
    </label>
    <button type="submit">Add stylist</button>
  </form>
</div>
