<h1><%= @stylist.name() %></h1>
  <% if @stylist.clients().any?() %>
  <h3>Here are all the clients in this stylist:</h3>

 <ul style="list-style: none;">
    <% @stylist.clients().each() do |client| %>
    <li><%= client.name() %></li>
      <form onsubmit="confirm('Are you sure you want to delete the following note?')" action="/clients/<%= @stylist.id %>" method="POST">
          <input type="hidden" name="_method" value="DELETE">
          <button type="submit">Delete</button>
        </form>
    <% end %>
  </ul>

   <% else %>
      <p>There are no clients for this stylist!</p>
    <% end %>
